name: Maven Build and Publish
on:
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Maven
      run: mvn clean package

    - name: Jfrog push v2
      uses: jfrog/setup-jfrog-cli@v2
      env:
        JF_URL: http://3.133.134.67:8081
        JF_USER: admin
        JF_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
    - run: |
        jf rt u "target/github-action-maven-tutorial-1.0-SNAPSHOT.jar" "jfrog/github-action-maven-tutorial/1.0-SNAPSHOT/github-action-maven-tutorial-1.0-SNAPSHOT.jar"
    - name: Find JAR file
      id: findjar
      run: echo "::set-output name=jarfile::$(ls target/*.jar | head -n 1)"

    - name: Copy files via ssh
      uses: appleboy/scp-action@master
      with:
        host: 18.222.137.144
        username: ubuntu
        key: ${{ secrets.SERVER_SSH_KEY }} 
        source: "${{ steps.findjar.outputs.jarfile }}"
        target: "/home/ubuntu"
